# Core dependencies
pandas>=1.5.0
numpy>=1.23
matplotlib>=3.7.0

# Alpaca API
alpaca-trade-api==2.3.0

# Environment config
python-dotenv>=1.0.0

# NLP for sentiment analysis
textblob>=0.17.1

# Requests for news API
requests>=2.28.0

